:root {
  --main-color: #d75c5c;
}

html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.navbar-nav .nav-link {
  font-size: 1.1rem;
  /* font-weight: bold; */
  padding: 0.5rem 0.9375rem;
  transition: all 0.3s ease;
  text-transform: capitalize;
}
/* active-home */
.navbar-nav .nav-link.active {
  color: #cd5c5c !important;
}

.navbar-nav .nav-link:hover {
  background: linear-gradient(#cd5c5c);
  color: white !important;
  border-radius: 0.8rem;
  /* box-shadow: 0 0.25rem 0.9375rem #cd5c5c; 4px 15px */
  text-transform: uppercase;
}

.dropdown-menu .dropdown-item {
  font-weight: bold;
  transition: all 0.3s ease;
  text-transform: capitalize;
}

.dropdown-menu .dropdown-item:hover {
  background: #cd5c5c;
  color: white !important;
  text-transform: uppercase;
}

.navbar-brand {
  font-size: 2rem;
}
@media (max-width: 991px) {
  .navbar-collapse {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: rgb(12, 14, 16);
    /* z-index: 1050; */
  }
}

/* =======================Hero Section============================== */
.hero-section {
  position: relative;
  height: 400px;
  background-image: url("img/about-us-page-heading.jpg");
  background-size: cover;
  background-position: center;
}
.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.125);
}
.hero-content {
  position: relative;
  z-index: 1;
}
/***************************************************************************/
.map-card {
  background: #fff;
  border-right: 2px solid #ccc;
  border-bottom: 2px solid #ccc;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.15);
  padding: 5px;
  border-radius: 8px;
}

.contact-info .info-title {
  font-size: 1.3rem;
  color: var(--main-color);
  display: inline-block; 
  border-bottom: 2px solid var(--main-color);
  margin-bottom: 0.5rem;
}

.contact-info p {
  font-size: 1.1rem;
}

@media (min-width: 992px) {
  .contact-info {
    padding-left: 3rem; 
  }
}

@media (max-width: 991px) {
  .contact-info {
    text-align: center;
    margin-top: 2rem; 
  } 
  .map-card {
    background: #fff;
    border-right: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.15);
    padding: 5px;
    border-radius: 8px;
  }

  .contact-info .info-title {
    font-size: 1.3rem;
    color: var(--main-color);
    display: inline-block; 
    border-bottom: 2px solid var(--main-color);
    margin-bottom: 0.5rem;
    text-align: right; 
  }

  .contact-info p {
    font-size: 1.1rem;
    text-align: center; 
  }


  @media (max-width: 991px) {
    .contact-info {
      text-align: center;
      margin-top: 2rem;
    }

  }
}

/****************************feedback********************************************************/

:root {
  --main-color: #d75c5c;
}

.feedback-section {
  background-color: #fff;
}

.info-title {
  font-weight: bold;
  color: var(--main-color);
  border-bottom: 2px solid var(--main-color);
}

.btn-submit {
  background-color: var(--main-color);
  color: #fff;
  border: none;
}

.btn-submit:hover {
  background-color: var(--main-color);
}

.info-title {
  border-bottom: 2px solid #d75c5c !important;
}

@media (max-width: 768px) {
  .feedback-section .col-md-8,
  .feedback-section .col-md-4 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .feedback-section .btn-submit {
    display: block;
    width: 100%;
    margin-bottom: 2rem;
  }

  .feedback-section .col-md-4 {
    text-align: center;
  }

  .feedback-section .info-title {
    display: block;
    margin-bottom: 0.25rem;
  }
}

/***********************footer***************************************************/
footer a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

footer a:hover,
.footer-brand:hover {
  color: #d75c5c;
}

footer .fa-user-secret {
  font-size: 5.5rem;
  /* margin-bottom: 10%; */
}

.footer-brand {
  font-size: 2.5rem;
  cursor: pointer;
  /* margin-bottom: 10%; */
}

.fab:hover {
  color: inherit !important;
}
.fa-facebook:hover {
  color: #1877f2 !important;
}
.fa-twitter:hover {
  color: #1da1f2 !important;
}
.fa-whatsapp:hover {
  color: #25d366 !important;
}
.fa-youtube:hover {
  color: #ff0000 !important;
}

.clock {
  background: black;
  border: #fff 2px solid;
  color: red;
  font-weight: bold;
  font-size: 2rem;
  padding: 5px 15px;
  border-radius: 25px;
  display: inline-block;
  margin-top: 10px;
}
